.form {
  width: 500px;
}
.container {
  padding: 20px;
}
.downloadBtn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
